@charset "utf-8";
/***** Print styles *****/
body > header *,
body > article {margin: 0; padding: 0;}
html,
body {width: 100%!important;}
html {font-size: 10pt!important;}
body {color: #000; background-color: #FFF; font-family: Verdana, Arial, Helvetica, sans-serif;}
article * {background-color: transparent;}
header {border-top: none;}
body > header nav,
body > header div,
body > header ul,
aside,
.reader,
.noprint,
body > footer,
a.button,
input[type="submit"],
input[type="reset"],
button[type="submit"],
button[type="reset"],
img[alt~="ventana"],
.notes {display: none!important;}
header img.logo,
article#article * {margin-left: 0; padding-left: 0;}
table,
table td,
table th {border: 1px solid #E0E0E0!important;}
table tr td,
table tr th {padding: 5px!important;}
table caption {border: none!important;}
.dropdown-panel {display: block!important;}
article .name {position: absolute; top: 0; right: 0;}
