header {
  background-color: #fff;
  background: white;
  display: inline-block;
  width: 100%;
  padding: 0 50px;
  margin-bottom: -5px;
}
header .navbar {
  float: left;
  width: 100%;
  margin-bottom: 0px;
}
header .navbar img {
  margin: 0px!important;
}
header .navbar ul {
  float: right;
  margin-top: 30px;
}
header .navbar ul li {
  margin-right: 10px;
}
header .navbar ul li a {
  color: #8a8a8a;
  padding: 5px;
  font-family: 'bankintertext_regular';
}
header .navbar ul li:last-child {
  border-radius: 5px;
  margin-top: -2px;
  margin-right: 0px;
}
header .navbar ul li.empresas {
  border-left: 2px solid #ccc;
  margin-right: 20px;
}
header .navbar .navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 22px;
}
header .navbar .navbar-toggle {
  padding: 14px 10px;
}
header .navbar .navbar-toggle .icon-bar {
  background: #8a8a8a;
  display: block;
  width: 26px;
  height: 4px;
  border-radius: 1px;
}
.cabeceraEmpresa .navbar ul li.particulares a {
  color: #ccc;
}
.cabeceraEmpresa .navbar ul li.empresas a {
  color: #049224;
}
.cabeceraEmpresa .navbar ul li.empresas a:hover {
  color: #049224;
}
.cabeceraEmpresa .navbar ul li:last-child {
  border: 2px solid #049224;
  border-radius: 5px;
  margin-top: -2px;
  margin-right: 0px;
}
.cabeceraEmpresa .navbar ul li:last-child a {
  color: #049224;
}
.cabeceraParticulares .navbar ul li.empresas a {
  color: #ccc;
}
.cabeceraParticulares .navbar ul li.particulares a {
  color: #E30881;
}
.cabeceraParticulares .navbar ul li.particulares a:hover {
  color: #E30881;
}
.cabeceraParticulares .navbar ul li:last-child {
  border: 2px solid #E30881;
  border-radius: 5px;
  margin-top: -2px;
  margin-right: 0px;
}
.cabeceraParticulares .navbar ul li:last-child a {
  color: #E30881;
}
@media (max-width: 767px) {
  header .navbar ul {
    width: 100%;
    float: none;
    margin: 0px;
    padding-bottom: 20px;
  }
  header .navbar ul li a {
    text-align: center;
    padding: 15px 10px;
  }
  header .navbar ul li.empresas {
    border-left: none;
  }
  header .navbar ul li.empresas a {
    color: #ddd;
  }
}
.wrapper-login {
  background: url('../img/imagen_login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 640px;
  top: 0;
}
.wrapper-login .login_box {
  width: 420px;
  height: 390px;
  background-color: white;
  float: left;
  margin-left: calc(50% - 210px);
  margin-top: 110px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px gray;
}
.wrapper-login .login_box .title_login_box {
  text-align: left;
  font-size: 28px;
  font-family: "bankintertext_bold";
  padding: 10px 35px;
}
.wrapper-login .login_box .formulario_login_box {
  padding: 0px 35px;
}
.wrapper-login .login_box .formulario_login_box .label_login_box {
  width: 100%;
  display: block;
  color: gray;
  font-family: 'source_sans_pro_light';
  margin-top: 10px;
  font-size: 14px;
}
.wrapper-login .login_box .formulario_login_box .input_login_box {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  font-family: 'source_sans_pro_light';
}
.wrapper-login .login_box .formulario_login_box .input_login_box:focus {
  outline: none;
  border-bottom: 1px solid #049224;
}
.wrapper-login .login_box .formulario_login_box .button_login_box {
  width: 100%;
  background-color: white;
  border: 1px solid #E30881;
  border-radius: 4px;
  font-family: 'source_sans_pro_light';
  padding: 13px 0;
  color: #E30881;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper-login .login_box .formulario_login_box .button_login_box:hover {
  background: #ffeef6;
}
.wrapper-login .login_box .formulario_login_box .link_login_box {
  color: #049224;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  font-family: 'source_sans_pro_light';
  font-size: 16px;
}
.wrapper-login .hipervinculos-login {
  float: right;
  margin-right: 50px;
  margin-top: 30px;
}
.wrapper-login .hipervinculos-login a {
  color: white;
  margin-left: 30px;
  font-family: 'bankintertext_bold';
}
.wrapper-loginFranjaRosa {
  background: #E30881;
  opacity: 0.9;
  margin-top: -65px;
}
.wrapper-loginFranjaRosa p {
  color: white;
  float: left;
  margin: 20px 0;
  height: 25px;
  font-family: "source_sans_pro_regular";
}
.wrapper-loginFranjaRosa p:first-child {
  font-family: "bankintertext_bold";
  font-size: 18px;
  margin-right: 20px;
}
.wrapper-loginFranjaRosa a {
  color: white;
  float: right;
  margin: 9px 0;
  font-family: "source_sans_pro_regular";
  font-size: 16px;
  padding: 10px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}
@media (max-width: 1200px) {
  .wrapper-login .login_box {
    margin-top: 60px;
  }
}
@media (max-width: 992px) {
  .wrapper-loginFranjaRosa {
    margin-top: 0px;
    text-align: center;
  }
  .wrapper-loginFranjaRosa a {
    margin-top: 0;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .hipervinculos-login {
    display: none;
  }
  .wrapper-login {
    min-height: 530px;
  }
  .wrapper-loginFranjaRosa {
    opacity: 1;
    text-align: left;
  }
  .wrapper-loginFranjaRosa p {
    width: 100%;
    margin-bottom: 0px;
  }
  .wrapper-loginFranjaRosa a {
    margin-top: 40px;
    float: left;
  }
}
@media (max-width: 440px) {
  .wrapper-login .login_box {
    width: 100%;
    margin-left: 0;
    margin-top: 70px;
  }
  .wrapper-login .login_box .title_login_box {
    text-align: left;
    font-size: 17px;
    font-family: "bankintertext_bold";
    padding: 10px 35px;
  }
}
.banner-img-header {
  height: 1010px;
  padding: 0;
  overflow: hidden;
}
.banner-img-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-img-header .texto-banner-img-header {
  padding: 0 50px;
}
.banner-img-header .texto-banner-img-header .migas_de_pan {
  float: left;
  padding: 30px 0;
}
@media (max-width: 767px) {
  .banner-img-header .texto-banner-img-header .migas_de_pan {
    display: none;
  }
}
.banner-img-header .texto-banner-img-header .migas_de_pan ul li {
  color: white;
  float: left;
  font-family: 'bankintertext_bold';
  font-size: 14px;
}
.banner-img-header .texto-banner-img-header .migas_de_pan ul li:after {
  content: ">";
  margin: 0 7px;
}
.banner-img-header .texto-banner-img-header .migas_de_pan ul li:last-child:after {
  content: "";
}
.banner-img-header .texto-banner-img-header .bankinter-logo-cabcera {
  float: left;
  clear: left;
  margin-top: 30px;
  margin-bottom: -20px;
}
.banner-img-header .texto-banner-img-header .bankinter-logo-cabcera img {
  margin: 0 !important;
  width: 170px;
}
@media (max-width: 767px) {
  .banner-img-header .texto-banner-img-header .bankinter-logo-cabcera {
    margin-top: 80px;
  }
}
.banner-img-header .texto-banner-img-header .hipervinculos-login .active {
  background-color: rgba(187, 34, 120, 0.45);
  border-radius: 50px;
  padding: 4px 11px;
}
.footerEmpresasDife {
  padding: 20px;
}
.footerEmpresasDife .footer-empresas a {
  display: inline-block;
  float: left;
}
.footerEmpresasDife .footer-empresas a img {
  margin: 0px!important;
}
.footerEmpresasDife .footer-empresas p {
  color: #a5a6a7;
  float: right;
  width: auto;
  font-size: 14px;
  font-family: 'bankintertext_regular';
  margin-top: 15px;
}
@media (max-width: 767px) {
  .footerEmpresasDife .footer-empresas p {
    width: 70%;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .subFooter {
    display: none;
  }
  .footer-empresas p {
    display: none;
  }
}
@media (max-width: 500px) {
  .footerEmpresasDife .footer-empresas {
    text-align: center;
  }
  .footerEmpresasDife .footer-empresas a {
    float: none;
  }
  .footerEmpresasDife .footer-empresas p {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 00px;
  }
}
.banner-img-header {
  position: relative;
  height: 500px;
  background-size: cover!important;
  background-position: center top;
}
.banner-img-header .texto-banner-img-header {
  position: relative;
  height: 500px;
  text-align: center;
}
.banner-img-header .texto-banner-img-header .hipervinculos-login {
  float: right;
  margin-top: 30px;
}
.banner-img-header .texto-banner-img-header .hipervinculos-login a {
  color: white;
  margin-left: 30px;
  font-family: 'bankintertext_bold';
}
.banner-img-header .texto-banner-img-header h1 {
  text-align: left;
  font-family: 'bankintertext_bold';
  font-size: 52px;
  clear: both;
  color: white;
  width: 60%;
  margin-top: 30px;
  float: left;
}
.banner-img-header .texto-banner-img-header p {
  text-align: left;
  font-size: 19px;
  font-family: 'bankintertext_regular';
  color: white;
  width: 50%;
  float: left;
  margin-top: 20px;
}
.banner-img-header .texto-banner-img-header .reproducirVideo {
  color: white;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 100px);
}
.banner-img-header .texto-banner-img-header .reproducirVideo i {
  margin-right: 10px;
  font-size: 30px;
}
.banner-img-header .texto-banner-img-header .reproducirVideo span {
  display: inline-block;
  margin-top: 5px;
  float: right;
}
.home-particulares .banner-img-header {
  background: url('/res/bkc_public/img/homeParticulares.jpg');
}
@media (max-width: 992px) {
  .banner-img-header {
    background-position: center!important;
    background-size: cover!important;
  }
  .banner-img-header .texto-banner-img-header h1 {
    width: 100%;
  }
  .banner-img-header .texto-banner-img-header p {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .banner-img-header .texto-banner-img-header p {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .banner-img-header {
    height: 400px;
  }
  .banner-img-header .texto-banner-img-header h1 {
    font-size: 25px;
  }
  .banner-img-header .texto-banner-img-header .reproducirVideo {
    display: none;
  }
}
.container-tarjetas-prestamos {
  padding: 0;
  background: white;
  text-align: center;
}
.container-tarjetas-prestamos p {
  font-size: 16px;
  font-family: 'source_sans_pro_regular';
  margin-top: 20px;
}
.container-tarjetas-prestamos a {
  border: 2px solid #E30881;
  border-radius: 5px;
  margin-top: -2px;
  margin-right: 0px;
  padding: 10px 0px;
  color: #E30881;
  display: inline-block;
  width: 200px;
  margin-top: 20px;
}
.container-tarjetas-prestamos a:hover {
  background: #ffeef6;
}
.container-tarjetas-prestamos .tituloTarjestasPrestamos {
  font-family: bankintertext_bold;
  font-size: 20px;
  height: 56px;
}
.container-tarjetas-prestamos .tarjetasHome {
  padding: 50px 110px;
}
.container-tarjetas-prestamos .tarjetasHome h4 {
  font-size: 16px;
  color: #64666b;
  font-family: bankintertext_regular;
  text-align: center;
}
.container-tarjetas-prestamos .tarjetasHome img {
  margin-top: 40px;
  height: 66px;
}
.container-tarjetas-prestamos .prestamosHome {
  background: #f2f2f2;
  padding: 50px 110px;
}
.container-tarjetas-prestamos .prestamosHome h4 {
  font-size: 16px;
  color: #64666b;
  font-family: bankintertext_regular;
  text-align: center;
}
.container-tarjetas-prestamos .prestamosHome img {
  margin-top: 40px;
  height: 66px;
}
.container-tarjetas-prestamos .prestamosHome a {
  border: 2px solid #E30881;
  border-radius: 5px;
  margin-top: -2px;
  margin-right: 0px;
  padding: 10px 0px;
  color: #E30881;
  display: inline-block;
  width: 200px;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .container-tarjetas-prestamos .prestamosHome {
    padding: 50px 20px;
  }
  .container-tarjetas-prestamos .tarjetasHome {
    padding: 50px 20px;
  }
}
@media (max-width: 700px) {
  .container-tarjetas-prestamos .prestamosHome {
    width: 100%;
    padding: 50px 110px;
  }
  .container-tarjetas-prestamos .prestamosHome p {
    height: auto;
  }
  .container-tarjetas-prestamos .tarjetasHome {
    width: 100%;
    height: auto;
    padding: 50px 110px;
  }
  .container-tarjetas-prestamos .tarjetasHome p {
    height: auto;
  }
}
@media (max-width: 540px) {
  .container-tarjetas-prestamos .prestamosHome {
    padding: 50px ;
  }
  .container-tarjetas-prestamos .prestamosHome img {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .container-tarjetas-prestamos .tarjetasHome {
    padding: 50px;
  }
  .container-tarjetas-prestamos .tarjetasHome img {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
.container-empresas-opinion {
  background: #ebebeb;
  padding: 50px 0;
  text-align: center;
}
.container-empresas-opinion h4 {
  font-size: 18px;
  color: #64666b;
  font-family: bankintertext_regular;
  text-align: center;
  margin-bottom: 50px;
}
.container-empresas-opinion .iconos-logtipos {
  text-align: center;
}
.container-empresas-opinion .iconos-logtipos img {
  width: 6%;
  margin-left: 3%;
  margin-right: 3%;
}
.container-empresas-opinion a {
  border: 2px solid #E30881;
  border-radius: 5px;
  margin-top: -2px;
  margin-right: 0px;
  padding: 10px 20px;
  color: #E30881;
  display: inline-block;
  margin-top: 20px;
}
.container-empresas-opinion a:hover {
  background: #ffeef6;
}
@media (max-width: 992px) {
  .container-empresas-opinion .iconos-logtipos img {
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 600px) {
  .container-empresas-opinion .iconos-logtipos img {
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 420px) {
  .container-empresas-opinion .iconos-logtipos img {
    width: 25%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.container-contacto-home {
  padding: 50px 0;
  text-align: center;
  background: white;
}
.container-contacto-home h4 {
  font-size: 18px;
  color: #64666b;
  font-family: bankintertext_regular;
  text-align: center;
}
.container-contacto-home p {
  font-size: 24px;
  color: #63656a;
  font-family: bankintertext_bold;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.container-contacto-home .cajas-contacto {
  padding: 20px;
  margin-top: 40px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #a7a7a6;
}
.container-contacto-home .cajas-contacto p {
  font-size: 18px;
  color: #64666b;
  font-family: bankintertext_bold;
  text-align: center;
}
.container-contacto-home .cajas-contacto i {
  font-size: 80px;
  color: #adadad;
  margin-top: 40px;
  margin-bottom: 20px;
  display: inline-block;
}
.container-contacto-home .cajas-contacto .telefonoCajaContacto {
  color: #E30881;
  font-size: 40px;
}
@media (max-width: 700px) {
  .container-contacto-home .col-xs-6 {
    width: 100%;
    padding: 0 100px;
  }
}
@media (max-width: 530px) {
  .container-contacto-home .col-xs-6 {
    width: 100%;
    padding: 0 50px;
  }
}
@media (max-width: 420px) {
  .container-contacto-home .col-xs-6 {
    width: 100%;
    padding: 15px;
  }
  .container-contacto-home .col-xs-6 .cajas-contacto {
    margin-top: 20px;
  }
  .container-contacto-home .col-xs-6 .cajas-contacto .tituloCajasContacto {
    font-size: 14px;
  }
  .container-contacto-home .col-xs-6 .cajas-contacto .telefonoCajaContacto {
    font-size: 30px;
  }
}
.home-Empresas .banner-img-header {
  background: url('/res/bkc_public/img/homeEmpresas.jpg');
}
.home-Empresas .texto-banner-img-header .saberMas {
  color: white;
  clear: both;
  float: left;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: all 0.5s ease;
  /* Safari */
  transition: all 0.5s ease;
  margin-top: 10px;
}
.home-Empresas .texto-banner-img-header .saberMas:hover {
  background: white;
  color: #049224;
  border-color: #049224;
}
@media (max-width: 992px) {
  .banner-img-header {
    background-position: center!important;
    background-size: cover!important;
  }
  .banner-img-header .texto-banner-img-header h1 {
    width: 100%;
  }
  .banner-img-header .texto-banner-img-header p {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .banner-img-header .texto-banner-img-header p {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .banner-img-header {
    height: 400px;
  }
  .banner-img-header .texto-banner-img-header h1 {
    font-size: 25px;
  }
  .banner-img-header .texto-banner-img-header .reproducirVideo {
    display: none;
  }
}
.container-auto-solu-consu {
  padding: 0;
  background: white;
  text-align: center;
}
.container-auto-solu-consu p {
  font-size: 18px;
  font-family: 'source_sans_pro_regular';
  margin-top: 20px;
}
.container-auto-solu-consu a {
  border: 2px solid #049224;
  border-radius: 5px;
  margin-top: -2px;
  margin-right: 0px;
  padding: 10px 0px;
  color: #049224;
  display: inline-block;
  width: 220px;
  margin-top: 20px;
}
.container-auto-solu-consu a:hover {
  background: #F3FFEE;
}
.container-auto-solu-consu .tituloTarjestasPrestamos {
  font-family: bankintertext_bold;
  font-size: 20px;
  height: 56px;
  color: black;
}
.container-auto-solu-consu .genericoAutoSoluConsu {
  padding: 50px 20px;
}
.container-auto-solu-consu .genericoAutoSoluConsu h4 {
  font-size: 16px;
  color: #64666b;
  font-family: bankintertext_regular;
  text-align: center;
}
.container-auto-solu-consu .genericoAutoSoluConsu img {
  margin-top: 40px;
  height: 100px;
}
@media (max-width: 1200px) {
  .container-auto-solu-consu p {
    height: 80px;
  }
  .container-auto-solu-consu .genericoAutoSoluConsu {
    padding: 50px 20px;
  }
}
@media (max-width: 992px) {
  .container-auto-solu-consu .tituloTarjestasPrestamos {
    height: 80px;
  }
}
@media (max-width: 767px) {
  .container-auto-solu-consu {
    padding: 50px 0px;
  }
  .container-auto-solu-consu .genericoAutoSoluConsu {
    padding: 20px;
    width: 100%;
  }
  .container-auto-solu-consu .genericoAutoSoluConsu p {
    height: auto;
  }
}
.container-empresas-cooperativas {
  background: url('/res/bkc_public/img/tajeta-home-empresas.png');
  padding: 50px 0px;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.container-empresas-cooperativas h4 {
  font-size: 16px;
  color: white;
  font-family: bankintertext_regular;
  text-align: center;
}
.container-empresas-cooperativas .tituloCooeperativas {
  font-size: 21px;
  color: white;
  font-family: bankintertext_bold;
  text-align: center;
  margin-bottom: 20px;
}
.container-empresas-cooperativas p {
  font-size: 18px;
  color: white;
  font-family: source_sans_pro_regular;
  text-align: center;
  display: inline-block;
  width: 70%;
  line-height: 1.5;
}
.container-empresas-cooperativas .saberMasNosotrosEmpresaHome a {
  padding: 10px 20px;
  border: 1px solid #fff;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-family: source_sans_pro_regular;
  -webkit-transition: all 0.5s ease;
  /* Safari */
  transition: all 0.5s ease;
}
.container-empresas-cooperativas .saberMasNosotrosEmpresaHome a:hover {
  border-color: #049224;
  background: white;
  color: #049224;
}
@media (max-width: 600px) {
  .container-empresas-cooperativas p {
    width: 100%;
  }
}
.container-contacto-empresas {
  padding: 50px 0;
  text-align: center;
  background: white;
}
.container-contacto-empresas h4 {
  font-size: 18px;
  color: #64666b;
  font-family: bankintertext_regular;
  text-align: center;
}
.container-contacto-empresas p {
  font-size: 24px;
  color: #63656a;
  font-family: bankintertext_bold;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.container-contacto-empresas .cajas-contacto {
  padding: 20px;
  margin-top: 40px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #a7a7a6;
  width: 600px;
  display: inline-block;
}
.container-contacto-empresas .cajas-contacto p {
  font-size: 18px;
  color: #64666b;
  font-family: bankintertext_bold;
  text-align: center;
}
.container-contacto-empresas .cajas-contacto i {
  font-size: 80px;
  color: #adadad;
  margin-top: 40px;
  margin-bottom: 20px;
  display: inline-block;
}
.container-contacto-empresas .cajas-contacto .telefonoCajaContacto {
  color: #E30881;
  font-size: 40px;
}
@media (max-width: 767px) {
  .container-contacto-empresas .cajas-contacto {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .container-contacto-empresas {
    width: 100%;
    padding: 15px;
  }
  .container-contacto-empresas .cajas-contacto {
    margin-top: 20px;
  }
  .container-contacto-empresas .cajas-contacto .tituloCajasContacto {
    font-size: 14px;
  }
  .container-contacto-empresas .cajas-contacto .telefonoCajaContacto {
    font-size: 30px;
  }
}
.landing-tarjetas {
  background-color: #E3E6E5;
}
.landing-tarjetas .banner-img-header {
  background: url('/res/bkc_public/img/cabecera-landing-metas.png');
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 200px;
}
@media (max-width: 767px) {
  .landing-tarjetas .banner-img-header {
    border-radius: 0;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .landing-tarjetas .banner-img-header .texto-banner-img-header {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .landing-tarjetas .banner-img-header .texto-banner-img-header h1 {
    font-size: 30px;
  }
}
.landing-tarjetas .container-white {
  background: url('/res/bkc_public/img/fondo-colores.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .landing-tarjetas .container-white {
    background: none;
    background-color: #E3E6E5;
  }
}
.landing-tarjetas .container-white .container .pretitulo_landing_tarjetas {
  font-family: 'bankintertext_regular';
  font-size: 14px;
  text-align: center;
  color: #9b9b9b;
  margin-top: 30px;
}
.landing-tarjetas .container-white .container .titulo_landing_tarjetas {
  font-family: 'bankintertext_bold';
  color: #E30881;
  text-align: center;
  font-size: 28px;
}
@media (max-width: 767px) {
  .landing-tarjetas .container-white .container .titulo_landing_tarjetas {
    font-size: 20px;
  }
}
.landing-tarjetas .container-white .cuadros_blancos {
  margin: 0 auto;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco {
  float: left;
  padding: 20px;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .fondo_blanco {
  background-color: white;
  padding: 20px;
  border-radius: 6px 6px 0 0;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .fondo_blanco img {
  margin: 0 auto;
  height: 120px;
  display: block;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .fondo_blanco .titulo_cuadro_tarjeta {
  font-family: 'bankintertext_regular';
  font-size: 24px;
  color: #4a4a4a;
  text-align: center;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .fondo_blanco .texto_cuadro_tarjeta {
  font-family: 'source_sans_pro_regular';
  font-size: 16px;
  text-align: center;
  color: #8a8a8a;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .fondo_blanco .button_rosa {
  width: 100%;
  background-color: white;
  border: 1px solid #E30881;
  border-radius: 4px;
  font-family: 'source_sans_pro_regular';
  padding: 13px 0;
  color: #E30881;
  margin-top: 20px;
  font-size: 16px;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .fondo_blanco .button_rosa:hover {
  background: #ffeef6;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .footer_verde_cuadro_tarjeta {
  background-color: #eff5f1;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 6px 6px;
  box-shadow: 1px 2px 0 0 10px black;
}
.landing-tarjetas .container-white .cuadros_blancos .cuadro_blanco .footer_verde_cuadro_tarjeta a {
  font-family: 'source_sans_pro_regular';
  font-size: 16px;
}
.landing-tarjetas .container-white .cuadros_blancos.dos_items {
  max-width: 650px;
  margin-bottom: 30px;
  overflow: hidden;
}
.landing-tarjetas .container-white .cuadros_blancos.tres_items {
  max-width: 1000px;
}
.landing-tarjetas .container-white .cuadros_blancos.tres_items .cuadro_blanco .texto_cuadro_tarjeta {
  max-width: 193px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .landing-tarjetas .container-white .cuadros_blancos.tres_items .cuadro_blanco .texto_cuadro_tarjeta {
    max-width: initial;
  }
}
.landing-tarjetas .container-white .container-black {
  background: url('/res/bkc_public/img/fondo-negro.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0 200px 0 0;
}
.landing-tarjetas .container-white .container-black .container .pretitulo_landing_tarjetas {
  font-family: 'bankintertext_regular';
  font-size: 14px;
  text-align: center;
  color: white;
  margin-top: 30px;
}
.landing-tarjetas .container-white .container-black .container .titulo_landing_tarjetas {
  font-family: 'bankintertext_bold';
  color: #f2dd24;
  text-align: center;
  font-size: 28px;
}
@media (max-width: 767px) {
  .landing-tarjetas .container-white .container-black .container .titulo_landing_tarjetas {
    font-size: 20px;
  }
}
.landing-tarjetas .container-white .container-black .container .cargar_mas {
  text-align: center;
}
.landing-tarjetas .container-white .container-black .container .cargar_mas .btn_cargar_mas {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 7px;
  font-family: 'source_sans_pro_regular';
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.landing-tarjetas .container-white .container-black .container .linea_separadora {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
}
.landing-tarjetas .container-white .container-black .container .beneficios img {
  margin: 0 auto;
  display: block;
}
@media (max-width: 767px) {
  .landing-tarjetas .container-white .container-black .container .beneficios img {
    width: 40%;
  }
}
.landing-tarjetas .container-white .container-black .container .beneficios .titulo_cuadro_beneficios {
  color: white;
  text-align: center;
  font-family: 'bankintertext_bold';
  font-size: 18px;
}
.landing-tarjetas .container-white .container-black .container .beneficios .texto_cuadro_beneficios {
  font-family: 'source_sans_pro_regular';
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 15px auto 40px auto;
}
.landing-tarjetas .container-white .container-black .container .beneficios .col-md-3:nth-child(1) .texto_cuadro_beneficios {
  max-width: 170px;
}
.landing-tarjetas .container-white .container-black .container .beneficios .col-md-3:nth-child(2) .texto_cuadro_beneficios {
  max-width: 230px;
}
.landing-tarjetas .container-white .container-black .container .beneficios .col-md-3:nth-child(3) .texto_cuadro_beneficios {
  max-width: 230px;
}
.landing-tarjetas .container-white .container-black .container .beneficios .col-md-3:nth-child(4) .texto_cuadro_beneficios {
  max-width: 240px;
}
@media (max-width: 767px) {
  .landing-tarjetas .container-contacto-empresas {
    display: none;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bankinterMovil:before {
  content: "\e901";
}
.icon-bankinterPlay:before {
  content: "\e900";
}
