<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center brown-text">Francisco Martínez</h1>
        <div class="row center">
            <h5 class="header col s12 light">Full Stack JS Developer</h5>
        </div>
        <br><br>
    </div>
</div>

<div class="container" ng-controller="ConocimientosCtrl">
    <div id="columnas">
        <div class="card blue-grey darken-1 caja-conocimientos z-depth-3 unidad" ng-repeat="data in conocimientos">
            <div class="card-content white-text">
                <span class="card-title red-text text-darken-4">{{data.nombre}}</span><br/>
                <span class="card-title">{{data.experiencia}}</span>
                <p>{{data.descripcion}}</p>
            </div>
            <div class="card-action pie-tarjeta-conocimiento">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <br><br>

    <div class="section">

    </div>
</div>