<div class="espacio_cabecera"></div>

<div class="container">
    <div id="columnas">
        <div class="unidad" ng-repeat="proyecto in proyectos">
            <div class="">
                <h2 class="center light-blue-text">{{proyecto.nombre}}</h2>
                <h5 class="center">{{proyecto.puesto}} - <br/> {{proyecto.experiencia}}</h5>

                <p class="light">
                    {{proyecto.descripcion}}
                </p>

                <div class="boton_ver_mas">
                    <a class="waves-effect waves-light btn" href="#/proyectos/{{proyecto.id}}">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="section">

    </div>
</div>