<!DOCTYPE html>
<html lang="es"><!-- InstanceBegin template="/Templates/public-sin-aside.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TemplateBeginEditable name="bkc_title" -->   
    <title>Landing Tarjetas</title>
    <!-- TemplateEndEditable -->

    <link href="/res/bkc/images/favicon.ico" type="text/css" rel="shortcut icon">
    <link href="/res/bkc/images/apple-touch-icon-precomposed.png" type="text/css" rel="apple-touch-icon-precomposed">
    <link href="/res/bkc/css/bancaFinance-bootstrap.css" type="text/css" rel="stylesheet"> 
    <!-- TemplateBeginEditable name="bkc_aditional-css" -->
    <link rel="stylesheet" href="/res/bkc_public/css/main.css">
    <!-- TemplateEndEditable -->
</head>

<body class="landing-tarjetas">
    <header id="header" class="cabeceraParticulares">
        <div class="header">
            <nav class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../../res/bkc_public/img/logo-sup.jpg" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="particulares"><a href="#" >Particulares</a></li>
                        <li class="empresas"><a href="#" >Empresas</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Área privada</a></li> 
                    </ul>
                </div><!-- /.navbar-collapse -->

            </nav>
        </div>
    </header>

    <article class="banner-img-header">
        <!-- TemplateBeginEditable name="bkc_img_backgorund_header" -->
        <div class="container">
            <div class="texto-banner-img-header">
                <div class="migas_de_pan">
                    <ul>
                        <li>Home</li>
                        <li>Tarjetas</li>
                    </ul>
                </div>
                <div class="hipervinculos-login">
                    <a href="#" class="active">Tarjetas</a>
                    <a href="#">Préstamos</a>
                </div>
                <div class="bankinter-logo-cabcera">
                    <img src="/res/bkc_public/img/logo-bankinter.png" alt="">
                </div>
                <h1>Sólo tú decides <br> cómo vivir tu vida</h1>
                <p></p>
                <a href="" class="reproducirVideo"><i class="icon-bankinterPlay"></i><span>Reproducir Video</span></a>
            </div>
        </div>
        <!-- TemplateEndEditable -->                        
        </section>
    </article> <!-- /container -->

    <article class="container-white">
        <section class="container">
            <!-- TemplateBeginEditable name="bkc_content-white" -->           
            <div class="pretitulo_landing_tarjetas">
                Tarjetas Bankintercard
            </div>
            <div class="titulo_landing_tarjetas">
                Las tarjetas que mejor se adaptan a ti
            </div>
            <div class="cuadros_blancos dos_items">
                <div class="cuadro_blanco col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="fondo_blanco">
                        <img src="/res/bkc_public/img/tarjeta-blanca.jpg" alt="">
                        <div class="titulo_cuadro_tarjeta">
                            Tarjeta Oro
                        </div>
                        <div class="texto_cuadro_tarjeta">
                            Si no quieres aplazar tu vida y sí disfrutarla: Tarjeta Oro Bankintercard. La tarjeta que, además, te devuelve el 7% de todas tus compras en grandes superficies.
                        </div>
                        <button class="button_rosa">La quiero</button>
                    </div>
                    <div class="footer_verde_cuadro_tarjeta">
                        <a href="#">Más información</a>
                    </div>
                </div>
                <div class="cuadro_blanco col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="fondo_blanco">
                        <img src="/res/bkc_public/img/tarjeta-negra.jpg" alt="">
                        <div class="titulo_cuadro_tarjeta">
                            Tarjeta Platinium
                        </div>
                        <div class="texto_cuadro_tarjeta">
                            Si te gusta vivir al máximo sin que nada te lo impisa: Tarjeta Platinium Bankintercard. La tarjeta que, además, te devuelve el 5% de todas tus compras aplazadas.
                        </div>
                        <button class="button_rosa">La quiero</button>
                    </div>
                    <div class="footer_verde_cuadro_tarjeta">
                        <a href="#">Más información</a>
                    </div>
                </div>
            </div>
            <!-- TemplateEndEditable -->                         
        </section>
        <div class="container-black">
            <div class="container">
                <div class="pretitulo_landing_tarjetas">
                    Bankintercard socios
                </div>
                <div class="titulo_landing_tarjetas">
                    Tu tarjeta define tu estilo de vida
                </div>
                <div class="cuadros_blancos tres_items">
                    <div class="cuadro_blanco col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fondo_blanco">
                            <img src="/res/bkc_public/img/tarjeta-vodafone.jpg" alt="">
                            <div class="titulo_cuadro_tarjeta">
                                Visa Vodafone
                            </div>
                            <div class="texto_cuadro_tarjeta">
                                Si te gusta estar siempre conectado al mundo: Tarjeta Visa Vodafone. Úsala siempre y ahorra en tu factura del móvil.
                            </div>
                            <button class="button_rosa">La quiero</button>
                        </div>
                        <div class="footer_verde_cuadro_tarjeta">
                            <a href="#">Más información</a>
                        </div>
                    </div>
                    <div class="cuadro_blanco col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fondo_blanco">
                            <img src="/res/bkc_public/img/tarjeta-bp.jpg" alt="">
                            <div class="titulo_cuadro_tarjeta">
                                Visa BP
                            </div>
                            <div class="texto_cuadro_tarjeta">
                                Si eres de los que disfruta en carretera: Tarjeta Visa BP. Ahorra en todas tus compras y con grandes descuentos en carburante BP.
                            </div>
                            <button class="button_rosa">La quiero</button>
                        </div>
                        <div class="footer_verde_cuadro_tarjeta">
                            <a href="#">Más información</a>
                        </div>
                    </div>
                    <div class="cuadro_blanco col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fondo_blanco">
                            <img src="/res/bkc_public/img/tarjeta-linea-directa.jpg" alt="">
                            <div class="titulo_cuadro_tarjeta">
                                Visa Línea Directa
                            </div>
                            <div class="texto_cuadro_tarjeta">
                                Si eres de los que les gusta sentirse protegido: Tarjeta Mastercard Línea Directa. Úsala siempre y ahorra en tus seguros.
                            </div>
                            <button class="button_rosa">La quiero</button>
                        </div>
                        <div class="footer_verde_cuadro_tarjeta">
                            <a href="#">Más información</a>
                        </div>
                    </div>
                    <div class="cuadro_blanco col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fondo_blanco">
                            <img src="/res/bkc_public/img/tarjeta-renault.jpg" alt="">
                            <div class="titulo_cuadro_tarjeta">
                                Visa Renault
                            </div>
                            <div class="texto_cuadro_tarjeta">
                                Si quieres que tu coche siempre esté a punto: Tarjeta Visa Renault. Ahorra en todas tus compras y con grandes descuentos.
                            </div>
                            <button class="button_rosa">La quiero</button>
                        </div>
                        <div class="footer_verde_cuadro_tarjeta">
                            <a href="#">Más información</a>
                        </div>
                    </div>
                    <div class="cuadro_blanco col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fondo_blanco">
                            <img src="/res/bkc_public/img/tarjeta-dacia.jpg" alt="">
                            <div class="titulo_cuadro_tarjeta">
                                Visa Dacia
                            </div>
                            <div class="texto_cuadro_tarjeta">
                                Si quieres sacarle el máximo partido a tu coche: Tarjeta Visa Dacia. Ahorra en todas tus compras y con grandes descuentos.
                            </div>
                            <button class="button_rosa">La quiero</button>
                        </div>
                        <div class="footer_verde_cuadro_tarjeta">
                            <a href="#">Más información</a>
                        </div>
                    </div>
                    <div class="cuadro_blanco col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fondo_blanco">
                            <img src="/res/bkc_public/img/tarjeta-mas.jpg" alt="">
                            <div class="titulo_cuadro_tarjeta">
                                Visa BinterMás
                            </div>
                            <div class="texto_cuadro_tarjeta">
                                Si eres de los que disfrutaa recorriendo mundo: Tarjeta BinterMás. Acumula puntos Binter con todas tus compras.
                            </div>
                            <button class="button_rosa">La quiero</button>
                        </div>
                        <div class="footer_verde_cuadro_tarjeta">
                            <a href="#">Más información</a>
                        </div>
                    </div>
                </div>
                <div class="cargar_mas">
                    <button class="btn_cargar_mas">Cargar más tarjetas</button>
                </div>
                <div class="linea_separadora"></div>
                <div class="beneficios">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <img src="/res/bkc_public/img/ico_casa.png" alt="">
                        <div class="titulo_cuadro_beneficios">En todos lados</div>
                        <div class="texto_cuadro_beneficios">Paga con tu tarjeta en cualquier lugar.</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <img src="/res/bkc_public/img/ico_calendario.png" alt="">
                        <div class="titulo_cuadro_beneficios">Sin cuota anual</div>
                        <div class="texto_cuadro_beneficios">Sin coste ni para la tarjeta titular ni para las adicionales.</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <img src="/res/bkc_public/img/ico_mano.png" alt="">
                        <div class="titulo_cuadro_beneficios">Sea cual sea tu banco</div>
                        <div class="texto_cuadro_beneficios">No necesitas ni cambiar de banco no abrir otra cuenta, basta con domiciliar tu tarjeta en tu cuenta habitual.</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <img src="/res/bkc_public/img/ico_bd.png" alt="">
                        <div class="titulo_cuadro_beneficios">Con pago flexible</div>
                        <div class="texto_cuadro_beneficios">Tú decides cuánto quieres pagar cada mes. ¿Todo? ¿Un porcentake? ¿Un importe fijo?.</div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="container-contacto-empresas">
        <section class="container">
            <h4>Contacto</h4>
            <p>¿Tienes alguna duda?</p>
            <div class="row">
                <div class="col-xs-12">
                    <div class="cajas-contacto">
                        <p class="tituloCajasContacto">Información sobre tarjetas </p>
                        <i class="icon-bankinterMovil"></i>
                        <p class="telefonoCajaContacto">900 811 311 </p>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <footer id="footer" class="hidden-xs">
        <div class="footer container">
            <nav class="col-lg-1 col-md-1 col-sm-1"></nav>              
            <nav class="col-lg-2 col-md-2 col-sm-2">
                <img src="/res/bkc/images/logo.png" alt="Bankinter Consumer Finance">   
            </nav>               
            <nav class="col-lg-2 col-md-2 col-sm-2">
                <ul>
                    <li>Nosotros</li>
                    <li class="hidden-xs"><a href="#">Quiénes somos</a></li>
                    <li class="hidden-xs"><a href="#">Información corporatíva</a></li>
                    <li class="hidden-xs"><a href="#">Información societaria</a></li>
                    <li class="hidden-xs"><a href="#">Memorias anuales</a></li>
                    <li class="hidden-xs"><a href="#">Aviso legal</a></li>
                    <li class="hidden-xs"><a href="#">Política de privacidad</a></li>
                    <li class="hidden-xs"><a href="#">Política de cookies</a></li>
                </ul>
            </nav>
            <nav class="col-lg-2 col-md-2 col-sm-2">
                <ul class="bkc-reset-m-left-1">
                    <li>Tarjetas</li>
                    <li class="hidden-xs"><a href="#">Bankintercard</a></li>
                    <li class="hidden-xs"><a href="#">Visa oro</a></li>
                    <li class="hidden-xs"><a href="#">Mastercard Platinum</a></li>
                    <li class="hidden-xs"><a href="#">Visa BP</a></li>
                    <li class="hidden-xs"><a href="#">Visa Vodafone</a></li>
                    <li class="hidden-xs"><a href="#">Tarjeta Renault</a></li>
                    <li class="hidden-xs"><a href="#">Ver más tarjetas...</a></li>
                </ul>
            </nav>
            <nav class="col-lg-2 col-md-2 col-sm-2">
                <ul class="bkc-reset-m-left-1">
                    <li>Empresas</li>
                    <li class="hidden-xs"><a href="#">Automóvil</a></li>
                    <li class="hidden-xs"><a href="#">Consumo</a></li>
                    <li class="hidden-xs"><a href="#">Anticipo empleados</a></li>
                    <li class="hidden-xs"><a href="#">Pólizas stock</a></li>
                    <li class="hidden-xs"><a href="#">Tarjetas Co-branded</a></li>
                    <li class="hidden-xs"><a href="#">Novedades</a></li>
                </ul>
            </nav>
            <nav class="col-lg-2 col-md-2 col-sm-2">
                <ul class="bkc-reset-m-left-1">
                    <li>Contacto</li>
                    <li class="hidden-xs"><a href="#">FAQs</a></li>
                    <li class="hidden-xs"><a href="#">Chat</a></li>
                </ul>
            </nav>
            <nav class="col-lg-1 col-md-1 col-sm-1 col-xs-12 "></nav>   
        </div>
    </footer>

    <footer id="footerMovil" class="hidden-lg hidden-md hidden-sm">
        <div class="footerMovil container">
            <nav class="col-xs-12"></nav> 
            
            <nav class="col-xs-12 text-center">
                <img src="/res/bkc/images/logo.png" alt="Bankinter Consumer Finance">
            </nav>  

            <nav class="col-xs-12">
                <ul class="text-center">
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
            <nav class="col-xs-12">
                <ul class="text-center">
                    <li><a href="#">Tarjetas</a></li>
                </ul>
            </nav>
            <nav class="col-xs-12">
                <ul class="text-center">
                    <li><a href="#">Empresas</a></li>
                </ul>
            </nav>
            <nav class="col-xs-12">
                <ul class="text-center">
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>

    <footer id="subFooter" class="subFooter">
        <div class="container text-center">
            <p class="text-center">
                Copyright © 2015 Bankinter Consumer Finance, E.F.C., S.A. Todos los derechos reservados
            </p>
        </div>
    </footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/res/js/jquery.js" type="text/javascript"></script>
    <script src="/res/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/res/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/res/js/jquery.sidr.min.js" type="text/javascript"></script>
    <!-- TemplateBeginEditable name="bkc_aditional-js" --> 

    <!-- TemplateEndEditable -->    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->    
</form> 
<!-- TemplateBeginEditable name="bkc-modals" -->

<!-- TemplateEndEditable -->     
</body>
</html>