<div class="footer container">
    <nav class="col-lg-1 col-md-1 col-sm-1"></nav>              
    <nav class="col-lg-2 col-md-2 col-sm-2">
    	<img src="/res/bkc/images/logo.png" alt="Bankinter Consumer Finance">   
    </nav>               
    <nav class="col-lg-2 col-md-2 col-sm-2">
        <ul>
            <li>Nosotros</li>
            <li class="hidden-xs"><a href="#">Quiénes somos</a></li>
            <li class="hidden-xs"><a href="#">Información corporatíva</a></li>
            <li class="hidden-xs"><a href="#">Información societaria</a></li>
            <li class="hidden-xs"><a href="#">Memorias anuales</a></li>
            <li class="hidden-xs"><a href="#">Aviso legal</a></li>
            <li class="hidden-xs"><a href="#">Política de privacidad</a></li>
            <li class="hidden-xs"><a href="#">Política de cookies</a></li>
        </ul>
    </nav>
    <nav class="col-lg-2 col-md-2 col-sm-2">
        <ul class="bkc-reset-m-left-1">
            <li>Tarjetas</li>
            <li class="hidden-xs"><a href="#">Bankintercard</a></li>
            <li class="hidden-xs"><a href="#">Visa oro</a></li>
            <li class="hidden-xs"><a href="#">Mastercard Platinum</a></li>
            <li class="hidden-xs"><a href="#">Visa BP</a></li>
            <li class="hidden-xs"><a href="#">Visa Vodafone</a></li>
            <li class="hidden-xs"><a href="#">Tarjeta Renault</a></li>
            <li class="hidden-xs"><a href="#">Ver más tarjetas...</a></li>
        </ul>
    </nav>
    <nav class="col-lg-2 col-md-2 col-sm-2">
        <ul class="bkc-reset-m-left-1">
            <li>Empresas</li>
            <li class="hidden-xs"><a href="#">Automóvil</a></li>
            <li class="hidden-xs"><a href="#">Consumo</a></li>
            <li class="hidden-xs"><a href="#">Anticipo empleados</a></li>
            <li class="hidden-xs"><a href="#">Pólizas stock</a></li>
            <li class="hidden-xs"><a href="#">Tarjetas Co-branded</a></li>
            <li class="hidden-xs"><a href="#">Novedades</a></li>
        </ul>
    </nav>
    <nav class="col-lg-2 col-md-2 col-sm-2">
        <ul class="bkc-reset-m-left-1">
            <li>Contacto</li>
            <li class="hidden-xs"><a href="#">FAQs</a></li>
            <li class="hidden-xs"><a href="#">Chat</a></li>
        </ul>
    </nav>
    <nav class="col-lg-1 col-md-1 col-sm-1 col-xs-12 "></nav>   
</div>