<div class="footerMovil container">
    <nav class="col-xs-12"></nav> 
    
    <nav class="col-xs-12 text-center">
    	<img src="/res/bkc/images/logo.png" alt="Bankinter Consumer Finance">
    </nav>  

    <nav class="col-xs-12">
        <ul class="text-center">
            <li><a href="#">Nosotros</a></li>
        </ul>
    </nav>
    <nav class="col-xs-12">
        <ul class="text-center">
            <li><a href="#">Tarjetas</a></li>
        </ul>
    </nav>
    <nav class="col-xs-12">
        <ul class="text-center">
            <li><a href="#">Empresas</a></li>
        </ul>
    </nav>
    <nav class="col-xs-12">
        <ul class="text-center">
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</div>